body{
  background-color: #e9ebee;
}
.rcorners1 {
border-radius: 70px;
}
.parallax {
/* The image used */
background-image: url("https://cdn.theatlantic.com/assets/media/img/mt/2015/09/code/facebook.jpg");

/* Set a specific height */
height: 600px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color:white;
}
.para {
/* The image used */
background-image: url("Images/Background Images/background (30).jpg");

/* Set a specific height */
height: autopx;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
h1{
  color:white;
  text-shadow: 2px 2px grey;
  padding-top: 50px;

}
li{
    display: inline;
  }

  #navlist {
      position: relative;
  }

  #navlist li {
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      top: 0;
  }

  #navlist li, #navlist a {
      height: 100px;

      display: block;
  }

  #fb {
      left: 0px;
      width: 100px;
      background: url('social-media-sprite-sheet.png') 0 0;
      border-radius: 70px;

  }

  #tweeter {
      left:105px;
      width: 100px;
      background: url('social-media-sprite-sheet.png') -100px 0;
      border-radius: 70px;
  }

  #youtube {
      left: 210px;
      width: 100px;
      background: url('social-media-sprite-sheet.png') -200px 0;
      border-radius: 70px;
  }
  #insta {
      left: 315px;
      width: 100px;
      background: url('social-media-sprite-sheet.png') -300px 0;
      border-radius: 70px;
  }
  #linkedin {
      left: 420px;
      width: 100px;
      background: url('social-media-sprite-sheet.png') -400px 0;
      border-radius: 70px;
  }
  #gplus {
      left: 525px;
      width: 100px;
      background: url('social-media-sprite-sheet.png') -600px 0;
      border-radius: 70px;
  }

  #fb a:hover {
      background: url('social-media-sprite-sheet.png') 0 -100px;
      border-radius: 70px;
  }

  #tweeter a:hover {
      background: url('social-media-sprite-sheet.png') -100px -100px;
      border-radius: 70px;
  }

  #youtube a:hover {
      background: url('social-media-sprite-sheet.png') -200px -100px;
      border-radius: 70px;
  }
  #insta a:hover {
      background: url('social-media-sprite-sheet.png') -300px -100px;
      border-radius: 70px;
  }
  #linkedin a:hover {
      background: url('social-media-sprite-sheet.png') -400px -100px;
      border-radius: 70px;
  }
  #gplus a:hover {
      background: url('social-media-sprite-sheet.png') -600px -100px;
      border-radius: 70px;
  }
  .about {
    background: url('Images/Background Images/background (22).jpg');
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .skill {
    background: url('Images/Background Images/background (25).jpg');
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /*.pro {
    background: url('Images/Background Images/background (30).jpg');
  }*/
  .contact {
    background: url('Images/Background Images/background (39).jpg');
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #NavBar ul li a{
display: inline-block;
text-decoration: none;
cursor: pointer;

}

#NavBar ul li a:hover{
background-color: #E4E4E4;
}
.bar{
background-color: #BEA1A1;
}
